.container form .row .district-wrapper {
  display: none;
}

.container form .row .province-wrapper {
  display: none;
}

.container form .row .huc-city-wrapper {
  display: none;
}

.container form .row .city-wrapper {
  display: none;
}

.container form .row .region-wrapper {
  display: none;
}
