.container {
	form {
		.row {
			.district-wrapper {
				display: none;
			}
			.province-wrapper {
				display: none;
			}
			.huc-city-wrapper {
				display: none;
			}
			.city-wrapper {
				display: none;
			}
			.region-wrapper {
				display: none;
			}
		}
	}
}