@font-face {
    font-family: 'Century Gothic';
    src: url('http://localhost/gitprojects/conana/public/fonts/certificate/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sylfaen';
    src: url('http://localhost/gitprojects/conana/public/fonts/certificate/Sylfaen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sylfaen_Bold';
    src: url('http://localhost/gitprojects/conana/public/fonts/certificate/Sylfaen.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('http://localhost/gitprojects/conana/public/fonts/certificate/arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html { margin: 0px;}

body{
	background-color: #5d5d5d;
	margin: 0;
	p{
		margin: 0;
	}
}
.page {
    background-color: #fff;
    // width: 215.9mm;
    height: 14in;
    display: block;
    margin:0px;
    box-sizing: border-box;
    margin-bottom: 20px;
    page-break-after: always;
}

@page .page{
	size: 8.5in 14in;
}

.page-break{
	page-break-after: always;
}
// CERITIFICATE
	.page_body{
		width: 100%;
		position: relative;
		display: block;
		padding: 20mm 25mm 0mm 25mm;
		.page_header{
			*{
				font-family: 'Century Gothic';
				text-align: center;
				margin: 0;
				font-weight: bold;
				line-height: 1;
			}
			h1{
				color: #001d66;
				font-size: 11pt;

			}
			p{
				font-size: 6pt;
			}
			img.logo{
				position: absolute;
				right: 15mm;
				top: 16mm;
				width: 23mm;
				height: 19mm;
			}
		}
		*{
			font-family: 'Sylfaen';
			margin: 0;
		}

		h1,h2{
		    font-family: 'Sylfaen';
			text-align: center;
			font-weight: bold;

		}
		p{
			font-size: 12pt;
			text-align:justify;
			span{
				font-weight: bold;
			}
		}
		p.indented{
			text-indent: 12mm;
		}
		h1{
			font-size: 16pt;
		}
		h2{
			font-size: 14pt;
		}
		.sign{
			display: inline-block;
			position: absolute;
			left: 300px;
			p{
				text-align:center;
			}
		}
	}

// PLEDGE
	.pledge{
		display: block;
		position: relative;
		width: 100%;
		padding: 0mm 13mm 0mm 13mm;
		.pledge_logo{
			position: relative;
			text-align: center;
			display: block;
			img{
				width: 94mm;
				height: 34mm;
			}
		}
		
		*{
			font-family: 'Arial';
		}
		
		h1{
			font-size: 17pt;
			text-align: center;
			margin: 0;
		}

		p{
			font-size: 12pt;
			text-align: justify;
		}
		p.pledge_subtitle{
			text-align: center;
		}
		ul{
			list-style-type: disc;
			padding-left: 15px;
			li{
				text-align: justify;
			}
		}
		.sign{
			float: right;
			border-top: 1px solid #000;
		}
		
	}
	.pledge_eng{
		padding-top: 65mm;
		p,ul{
			font-size: 11pt;
		}
		h1{
			font-size: 15pt;
		}
		.pledge_footer{
			text-align: center;
			img{
				width: 184mm;
				height: auto;			
			}
		}
	}

