body {
  background-color: #ededed;
}

.navbar {
  border-bottom: 5px solid #c4a925;
  background-color: #15140c;
}

.navbar .dropdown-menu {
  padding: 0;
}

.navbar .dropdown-menu a {
  border-radius: 5px;
}

.navbar .dropdown-menu a:hover {
  background-color: #e4dfc9;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 100px;
}

.card {
  padding: 20px 0;
  margin-bottom: 100px;
}

.card-header {
  background-color: #fff;
  text-align: center;
  color: #15140c;
  font-size: 25px;
  font-weight: 800;
  border: none;
}

.card-body {
  background-color: #fff;
}

.card-body label {
  color: black;
}

.card-body input {
  background-color: white;
}

.btn-primary {
  font-weight: bold;
  background-color: #f7d116;
  border: none;
  color: #000000;
}

.btn-primary:hover {
  background-color: #e9cc3e;
  color: #000000;
}

.btn-link {
  color: #15140c;
}

.btn-link:hover {
  text-decoration: none;
  color: #c4a925;
}

.auth-input {
  width: 100%;
  border-radius: 8px;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #d0d0d0;
  color: #54480f;
}

.auth-input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #c1c1c1;
          box-shadow: 0px 0px 5px 1px #c1c1c1;
}

.card {
  margin-top: 50px;
}

.getInfo {
  background-color: white;
  padding: 0px 10px 40px 10px;
  margin: 20px;
}

.getInfo h2 {
  font-weight: bold;
  border-bottom: 2px solid #f7d116;
  text-align: left;
  margin-top: 40px;
}

.getInfo input,
.getInfo select {
  width: 100%;
  border-radius: 8px;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #d0d0d0;
  color: #54480f;
}

.getInfo input:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #c1c1c1;
          box-shadow: 0px 0px 5px 1px #c1c1c1;
}

.getInfo .input-group-prepend {
  border-radius: 8px 0 0 8px;
  height: 35px;
  width: 100px;
}

.getInfo .form-col {
  padding: 0 30px;
}

.submit-button {
  margin: 20px;
}

footer {
  color: #54480f;
}

