$primary: #f7d116;

.card {
	padding: 20px 0;
	margin-bottom: 100px;
}

.card-header {
	background-color: #fff;
	text-align: center;
	color: #15140c;
	font-size: 25px;
	font-weight: 800;
	border: none;
}

.card-body {
	background-color: #fff;
	label {
		color: black;
	}
	input {
		background-color: white;
	}
}

.btn-primary {
	font-weight: bold;
	background-color: $primary;
	border: none;
	color: #000000;
}

.btn-primary:hover {
	background-color: #e9cc3e;
	color: #000000;
}

.btn-link {
	color: #15140c;
}

.btn-link:hover {
	text-decoration: none;
	color: #c4a925;
}

.auth-input {
	width: 100%;
	border-radius: 8px;
	height: 35px;
	padding: 5px 10px;
	border: 1px solid #d0d0d0;
	color: #54480f;
}

.auth-input:focus {
	box-shadow: 0px 0px 5px 1px #c1c1c1;
}

.card {
	margin-top: 50px;
}