.getInfo {
	background-color: white;
	padding: 0px 10px 40px 10px;
	margin: 20px;
	h2 {
		font-weight: bold;
		border-bottom: 2px solid $primary;
		text-align: left;
		margin-top: 40px;
	}
	input, select {
		width: 100%;
		border-radius: 8px;
		height: 35px;
		padding: 5px 10px;
		border: 1px solid #d0d0d0;
		color: #54480f;
	}
	input:focus {
		box-shadow: 0px 0px 5px 1px #c1c1c1;
	}
	.input-group-prepend {
		border-radius: 8px 0 0 8px;
		height: 35px;
		width: 100px;
	}
	.form-col {
		padding: 0 30px;
	}
}

.submit-button {
	margin: 20px;
}