.loader {
  margin-left: calc(50vw - 102px);
  margin-top: calc(50vh - 20.5px);
}
.loaderGeo {
  margin-top: calc(50vh - 20.5px);
  margin-left: calc(50vw - 250px);
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: #f7d116;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 66px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 125px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(125px - 66px), 0);
  }
}
.header-lp-logo img {
  max-height: 41px;
  height: 41px;
}
.navbar-lec {
  color: #d7d9e3;
  padding-bottom: 20px;
}
.fa-clock {
  color: #ffc107;
}
.fa-check {
  color: #28a745;
}
.fa-times {
  color: #dc3545;
}
.dropdown-btn {
  background: #15140c;
  padding: 10px 0 10px 0;
  outline: none;
  border: 0;
  color: #d7d9e3;
  font-size: 15px;
  text-align: left;
  width: 59.5%;
}
#left-panel #main-menu .stat-check span {
  color: #d7d9e3;
}
.dropdown-btn:hover, #left-panel #main-menu .stat-check span:hover {
  cursor: pointer;
  color: #fff;
}
.stat-check {
  font-size: 15px;
  padding: 10px 0 10px 0;
}
.a-hover:hover {
   color: #fff;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
  box-shadow: 0;
  outline: none;
  border: 0;
  width: 100%;
  position: relative;
}
.dropdown-submenu {
  padding: 0;
  background: #15140c;
  color: #d7d9e3;
  text-align: left;
  padding: 0 0 5px 20px;
}
.dropdown-submenu a:hover {
  cursor: pointer;
}
.dropdown-submenu .submenu a {
  padding-top: 5px !important;
  padding-bottom: 0 !important;
  font-size: 15px !important;
}

.dropdown-submenu .submenu a:hover {
  cursor: pointer;
}
.reg-stat {
  font-size: 15px;
  padding-top: 5px;
  color: #c8c9ce;
  display: block;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
  position: inherit !important;
}
i.fa-caret-down {
  float: right;
}
.dropdown-btn i.fa-caret-down {
  padding-top: 4px;
}
.dropdown-menu i.fa-caret-down {
  padding: 8px 12px 0 0;
}
.prov-part {
  max-width: 124px;
}
#rejectsModal .modal-header {
   background-color:#15140c;
   color:#fff;
   border-bottom:3px solid #c4a925;
}
#rejectsModal .modal-header .modal-title {
  margin: 0 auto;
}
.picture-candidate {
  margin-bottom: -96px;
}
.data-candidates {
  padding-bottom: 20px;
  padding-top: 20px;
}
.wrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.data-candidates table {
  width: 100%;
}
.data-candidates table td {
  width: 25%;
}
.data-candidates table th {
  width: 25%;
}
.icons {
  display: inline;
}
.prof-summary-data {
  padding-top: 65px;
  background-color: #dedede;
  padding-bottom: 20px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}
.checkbox-part {
  padding-top: 20px;
  padding-bottom: 30px;
}
.checkbox-part .col-sm-12 .checkbox {
  border: 1px solid #808080;
  border-radius: 0.25rem;
  padding-bottom: 15px;
  padding-top: 19px;
  /*background: #15140c;*/
}
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}
.checkbox .cr {
  color: #fff;
  position: relative;
  display: inline-block;
  border: 1.5px solid #808080;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  margin-right: .5em;
  margin-left: 2em;
  vertical-align: bottom;
}
.checkbox .cr:hover {
  cursor: pointer;
  border: 1px solid #c4a925
}
.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}/*
.checkbox label {
  color: #fff;
}*/
.checkbox label:hover {
  cursor: pointer;
}
.checkbox label input[type="checkbox"] {
  display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: .5;
}
.comment-part textarea {
  border: 1px solid #808080;
}